[2020-08-03 07:21] amitm02 opened #1 "Feature Request: Allow to set lifecycle to the default bucket"
It would be great to be able to configure a lifecycle [link](https://docs.min.io/docs/minio-client-complete-guide.html#ilm) the "defaultBucket".

[2020-08-10 00:21] mjschmidt opened #3 "Please include README.md file when packaging minio chart"
This is greatly helpful when you want to helm fetch, easy to include and will allow the documentation to manifest in things like Rancher and Openshift.

[2020-08-10 04:20] imle opened #4 "no matches for kind "Ingress" in version "networking.k8s.io/v1""
[code]

This should currently be `networking.k8s.io/v1beta1`

https://github.com/kubernetes/kubernetes/issues/90077

[code]

[2020-08-10 05:00] harshavardhana commented on #4
Fixed in ed7066a11f08c855966404aee2a856b7fb093b4f

[2020-08-10 05:00] #4 closed

[2020-08-10 15:25] paulczar opened #6 "Add Chart repository to ArtifactHub"
We've added the new Minio chart repo to the helm hub, but we should also add it to Artifacthub.

see https://github.com/helm/hub/pull/426 for details.

[2020-08-10 15:29] paulczar opened #7 "Switch to using chart-releaser to release charts to repository"
Currently it appears that you're using the master branch to house the packaged charts (.tgz) files and the index.yml for the repository/gh-pages.

We recommend using the chart-releaser github action that will actually use the github releases feature to host the charts and the gh-pages branch to hose the index.yaml.  This keeps the repository clean of binary files as well as automates the release p

[2020-08-10 15:41] harshavardhana commented on #7
The current process serves our purposes, as we wish to manually sign the releases eventually.

Those private keys cannot be passed onto GitHub.

[2020-08-10 15:45] harshavardhana commented on #6
Will do thanks for the follow up.

[2020-08-10 16:44] harshavardhana commented on #3
Fixed in 6.0.3

[2020-08-10 16:44] #3 closed

[2020-08-10 16:44] harshavardhana commented on #6
Registered and updated

[2020-08-10 16:44] #6 closed

[2020-08-10 17:22] mjschmidt commented on #3
You rock thanks man!
![image](https://user-images.githubusercontent.com/6544930/89811363-90951000-db0c-11ea-8990-a485aa57cabe.png)

[2020-08-13 10:36] jgato opened #8 "To use tls secret instead generic secret for Ingress"
Would be possible to configure the ingress with a secret tls, instead of a secret generic with cert and key files? Most of Helm Charts we are using make use of this feature to configure the ingress.

[2020-08-13 16:15] harshavardhana commented on #8
Sure, feel free to send a PR

[2020-08-14 08:49] jgato commented on #8
Digg in into it, I realize that is working ok. I was confused with the tls and the ingress section. TLS section is for the certificate for internal usage (generic secret), the Ingress section needs a secret tls for the external access.

[2020-08-14 08:49] #8 closed

[2020-08-26 22:00] shaneutt opened #10 "Multi-Arch Container Image Manifests"
Container images deployed by Minio are tagged in an architecture specific way requiring additional configuration to deploy on non-amd64 systems.

## Expected Behavior

When deploying Minio on an ARM cluster using the [Helm Chart](https://github.com/minio/charts) with the default settings I expect to see a running pod.

## Current Behavior

Currently if you deploy Minio to an ARM cluster using the

[2020-08-26 22:07] shaneutt commented on #10
I understand that this is how it works right now. Please see the "Possible Solution" section as it highlights this is intended to request improvements, specifically by implementing multi-arch manifest image builds.

[2020-08-29 16:01] pjoshi751 opened #12 "Access Denied for web browser"
I installed the latest helm chart of minio.   When I try to access the web browser from inside another pod like busybox with
`curl -v http://minio:9000`  I get Access Denied.  Tried all kinds of configurations in `values.yml`.

[2020-08-29 16:07] kannappanr commented on #12
sending curl request is equivalent to making `listBuckets` call

[code]
So, this will not be allowed. You need to use a browser to access and not use curl. Closing this issue. Please feel free to reach out to us if you have further questions.

[2020-08-29 16:07] #12 closed

[2020-08-29 16:10] pjoshi751 commented on #12
What would the url be on the browser?  `http://localhost:9000/`   ?

[2020-08-31 09:54] pjoshi751 opened #13 "Accessing via Kubernetes service name fails"
I have deployed minio using helm charts in standalone mode.  My application running as a pod on the Kubernetes cluster is able to access minio with `http://<minio pod ip>:9000`  but not with `http://<service name>:9000/`.    The service name is `minio` that is connected to pod endpoint.  Any settings that need to be changed to make the pod accessible via service?

[2020-09-01 13:09] loftkun commented on #13
Here is an example that works fine.
If your appplication accesses minio service from other namespace, try to use "`{service-name}.{namaspace}.svc.cluster.local`" domain.

[code]

[2020-09-01 16:31] harshavardhana commented on #13
Closing this as explained by @loftkun

[2020-09-01 16:31] #13 closed

[2020-09-02 00:58] pjoshi751 commented on #13
The browser works for me too, but looks like API calls are failing.  Can you check with store and retrieve also work for you without giving the IP?

[2020-09-11 14:07] tacrocha opened #15 "Allow to provide trusted 3rd party certificates as secrets"
Greetings! I was trying to integrate minio with a keycloak which uses a self-signed certificate, but the current chart doesn't have a mechanism to provide trusted certificates to be mounted in the `CAs/` directory. Using the chart, the only way to mount any certificate in that folder requires also to enable `tls` for the minio cluster, which is not something I needed for mine.

Could you please al

[2020-09-11 18:39] harshavardhana commented on #15
Good idea, feel free to send a fix @tacrocha

[2020-09-13 04:03] harshavardhana commented on #7
Closing as not necessary

[2020-09-13 04:03] #7 closed

[2020-09-14 20:33] mitchellmaler opened #16 "Not run as root for job pod containers"
We require all pods to not run as root except for specific reasons. We could create a pod security policy and service account just for these job pods but wanted to see if they could be enhanced/changed to just not run as root by default?

[2020-09-14 20:35] harshavardhana commented on #16
Run it with a security policy @mitchellmaler default podSecurity is

[code]

[2020-09-14 20:35] #16 closed

[2020-09-14 20:39] mitchellmaler commented on #16
@harshavardhana The post-install-prometheus-metrics-job does not have the securityContext settings that could be changed. This is the job that is failing to deploy. We already set the main minio securityContext which is working as expected.

[2020-09-14 20:40] mitchellmaler commented on #16
I should have called out the pod/job in question in my main description.

[2020-09-14 21:37] harshavardhana commented on #16
Feel free to send a PR @mitchellmaler - happy to accept PRs

[2020-09-15 16:29] mitchellmaler commented on #16
@harshavardhana Create PR https://github.com/minio/charts/pull/17
Hopefully this will help resolve the issue.

[2020-09-15 17:04] mitchellmaler opened #18 "Prometheus Metrics Batch Job doesn't work with existing minio secret"
Currently the prometheus batch job to generate the token and update the service monitor only works when you provide the accesskey and secretkey in the values and not if you provide a existing secret.

Need to enhance the job to load the secret if provided.

(logging to track issue, hopefully I have time to work on this)

[2020-09-15 17:55] mitchellmaler commented on #18
https://github.com/minio/charts/pull/19 should resolve this

[2020-09-15 18:00] #18 closed

[2020-09-22 07:09] rxbn opened #21 "Unable to update chart to v7.0.0"
I cannot upgrade the helm chart to version 7.0.0 because the readinessProbe values were deleted but they still remain in the deployment template. This results in a nil pointer exception: `at <.Values.readinessProbe.initialDelaySeconds>: nil pointer evaluating interface {}.initialDelaySeconds"`

[2020-09-22 08:07] harshavardhana commented on #21
Will remove them..

[2020-09-22 08:09] rxbn commented on #21
@harshavardhana thank you :)

[2020-09-22 17:21] #21 closed

[2020-09-22 18:21] dany74q opened #22 "Post-install bucket creation won't run after pod restarts for non-persistent installation"
Heya ! first of all, awesome product - very impressive work.

Currently, if one spins up a non-persistent minio deployment - the bucket creation will only run once,
as a post-install job;
meaning, if the pod restarts for any reason, the configured buckets aren't recreated.

When tackling such situations in the past, I'd usually moved the post-install script away from helm hooks to run in the same

[2020-09-22 18:28] harshavardhana commented on #22
@dany74q happy to take the PR - without a PR we can't easily test. So please send it over.

[2020-09-22 21:17] kcao3 opened #23 "How to connect to a Minio distributed cluster through an TLS Ingress from a MinIO Client (mc)"
Hello,
Recently I have used this helm chart and deployed a distributed Minio cluster (5 replicas), which is running in a k8s cluster.

Currently the 5 Minio instances/servers/containers are NOT configured with TLS enabled.

However, I have deployed an Ingress that connects to the MinIO service at port TCP/9000 and this Ingress is configured with TLS.

From a browser, I am able to connect and login

[2020-09-23 07:09] dany74q commented on #22
Hey @harshavardhana - thanks for the prompt response !

Do you have any preference amongst the suggested solutions ? that is, replacing the helm hook with one of:
- Init script in the main contianer
- Init script in a sidecar container
- Post start k8s handler
- or, keeping as is and just updating the docs

Let me know if any of the above sounds more suitable in your case - thanks !

[2020-09-23 07:09] dany74q commented on #22
j

[2020-09-23 08:06] harshavardhana commented on #22
what are the challenges moving away from post-install job?

[2020-09-23 09:03] dany74q commented on #22
None that I can think of - we'll need to 'create if not exist' all buckets, in an init-script
that would run after the pod starts (or restarts), as opposed to only after installing / upgrading with helm.

Let me know if you have any affinity for any of the above solutions, which could be used to implement this.

[2020-09-23 14:00] kcao3 commented on #23
It turns out the root cause of my issue was from the 'server side'. My Ingress Controller was enforcing a client authentication policy, which requests and/or requires client to have a CLIENT certificate. After removing the policy, thing worked as expected.

My next question is does anyone know if MinIO's mc  currently support client certificate?

There's a request feature I found : https://github.

[2020-09-25 03:28] huaxk opened #24 "The helm default installation will not run"
I use helm3 to install minio on k8s.
`helm install minio minio/minio`
the command is finished, but minio pod is not running for the following reasons in pod log:
[code]
What's wrong?

[2020-09-25 10:44] kumarpratyush opened #26 "Gitlab runner job often failing with 137 error while trying to download cache from MinIO"
First off, I know this might not be a MinIO issue, but I am trying to check all possible actors involved in my system to find out the root cause.
We are using MinIO cache to upload dependencies for our gradle project and we download the same before building the project. Lately, we are seeing a lot of 137 errors while trying to download the cache from minio server.

Details :
**MinIO version** -- m

[2020-09-26 08:52] kannappanr commented on #26
Not sure if this would help https://github.com/moby/moby/issues/21083 You might have increase memory in your container

[2020-09-26 14:05] bclermont commented on #24
@huaxk it need an `initContainer` that do that

[2020-09-26 14:17] bclermont commented on #24
I create a PR that fix this

[2020-09-26 14:41] bclermont commented on #24
just tried that PR and my pod start now

[2020-09-28 21:55] alextraul opened #30 "Security Context not passed in non-persistent mode."
Is there a reason to not pass security context when minio is running without persistence enabled? Seems to me like the security context should be set either way for people to run rootless, even without a PV attached.  It seems like any easy fix, but I wanted to make sure there wasn't something deeper behind this decision.

Relevant lines from deployment.yaml:

[code]

[2020-09-29 11:20] yuexine opened #31 "Use distributed mode to install minio, pod can not be initialized"
1. install minio on k8s:
`helm install --set mode=distributed  minio minio/minio -n minio`

2. all pods are running:

[code]

3. get log from pod

[code]

4. visit

[code]

what's wrong?

[2020-10-02 21:20] middagj opened #34 "Version 7.1.0 has syntax error"
c5733b5a gives

[code]

If I check the commit, I see an _if_ and an _else_ removed, but no _end_.

[2020-10-02 21:24] mboutet commented on #34
Two `{{ end }}` need to be removed at https://github.com/minio/charts/blob/c5733b5abbf459b33126a31e7fe134adf9f8c4d2/minio/templates/deployment.yaml#L94-L95

[2020-10-02 21:32] harshavardhana commented on #34
Fixed by 76372e091dd632beb2eab2617f0be5b55548d518

[2020-10-02 21:32] #34 closed

[2020-10-03 07:37] aureq opened #35 "MinIO Chart 7.1.1 is broken and not in sync with branch "master""
Hi,

I've been trying to upgrade minio to the current chart `version: 7.1.1` (according to `Chart.yaml`) but this failed.
[code]

To reproduce the error:
[code]
The same can be reproduced with the URL: https://helm.min.io/releases/minio-7.1.1.tgz

It appears that `templates/deployment.yaml` is not in sync with the `master` branch for some reason.

[code]

@harshavardhana Part of the way you (the M

[2020-10-03 12:04] aureq opened #36 "Issue github releases when a new chart version is published"
Hi,

At the moment, this repository doesn't generate any [Github release](https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/about-releases) when the Chart version is updated. Only a new `git tag` is added.

It would be really helpful to have releases in place like it's already done in [MinIO](https://github.com/minio/minio/releases). Some of the benefits would be:

[2020-10-03 16:54] harshavardhana commented on #35
Yes I did helm lint, looks like something odd happened locally.

Let me fix it right away

[2020-10-03 17:21] #35 closed

[2020-10-03 17:21] harshavardhana commented on #35
fixed in 7.1.2

[2020-10-03 17:22] harshavardhana commented on #31
Fixed in the latest release of MinIO RELEASE.2020-10-03T02-19-42Z

[2020-10-03 17:22] #31 closed

[2020-10-03 17:22] harshavardhana commented on #26
Closing this as per this comment

[2020-10-03 17:22] #26 closed

[2020-10-03 17:24] harshavardhana commented on #24
changing permissions is unexpected - so change the securityContext to match your disk permissions.

[2020-10-03 17:24] #24 closed

[2020-10-06 08:53] clemh78 opened #37 "Minio chart 7.1.2 on Kubernetes 1.17.5"
Hello,

I have an error when i want to upgrade Minio on Kubernetes 1.17.5.

This is error i have when i upgrade with helm command.

[code]

I dont understand this error because you have take care of the new version of Kubernetes with this line : https://github.com/minio/charts/blob/5bb5fe5f2c67e69d9b436f95511c3a0252cdb759/minio/templates/_helpers.tpl#L60

Have you an idea of the reason of this err

[2020-10-06 12:55] Fabrice-44 commented on #37
Hello,
I have a similar error with my helm upgrade, except that I'm on Kubernetes v1.16.9
[code]

I think there is an error in the helpers file about this test (and about kube version) :
[code]
Does the version should not be "1.16-0" here rather than 1.17 ? (so that people who are in version 1.16 & 1.17 have to use "apps/v1"

[2020-10-07 17:55] wzf1943 opened #39 "Some questions about how to use this helm chart"
Hi, I'm newbie of minio. Write now I'm using helm to deploy minio on our gke cluster. I have some question about minio helm chart. And I cannot find out answer on your official website. So I don't know if you guys could help me.

1. How to scale cluster up (add more nodes or more drive into cluster)? Can I just change replica number and upgrade chart? The key thing here is I want to keep my old da

[2020-10-07 23:05] ioben opened #40 "TLS broken by PR #33"
It looks like PR #33 made a change which doesn't work correctly with Helm's logic (though it looks like it should). The PR should be reverted.

Here's an example chart to demonstrate the issue:

`test-chart/Chart.yaml`:
[code]

`test-chart/templates/test-file.yml`:
[code]

The above `test-file.yml` has the bug in it.

Running `helm template test-chart --set enabled=false`:

[code]

Running `helm t

[2020-10-08 14:10] nitisht commented on #15
Fixed by #20

[2020-10-08 14:10] #15 closed

[2020-10-13 04:32] laszlojau commented on #40
I tried deploying in distributed mode with TLS today and it failed due to this issue. Checking the arguments for `command` in the StatefulSet, I could see that it was pointing to `http://`.

I believe @ioben is right. In Go templating `:=` is used for short declaration.
The `$scheme` variable is already declared at [minio/template/statefulset.yml Line 5](https://github.com/minio/charts/blob/fe46d0

[2020-10-16 14:56] abouissa1 opened #41 "Mino Gateway Caching on Persistent Volume"
The logic inside the deployment prevents a persistent volume claim from being created when minio gateway is being used. This is preventing us from making use of the caching functionality on our Kube clusters.

[2020-10-18 23:03] harshavardhana commented on #40
This is a bogus test case @laszlojau - helm is a template engine, not a Go program.

You need to do `--set tls.enabled=true` @ioben  but yes I was able to reproduce and fix this.

[2020-10-18 23:03] #40 closed

[2020-10-18 23:06] harshavardhana commented on #39
If you need all these features you should use https://github.com/minio/operator - helm chart is not going to support these features.

[2020-10-18 23:06] #39 closed

[2020-10-18 23:06] harshavardhana commented on #41
@abouissa1 feel free to send us a fix.

[2020-10-19 03:27] rcanderson23 opened #42 "Breaking Change with Scheme"
Latest update to helm charts changed logic for Liveness probe in the deployment. `scheme` is set to `http` or `https` depending on TLS settings. This value is used for port name and scheme in Liveness probe, however only `HTTP` or `HTTPS` are allowed values for the scheme value in the probe.

Error logs from Argo CD after today's update:
[code]

[2020-10-19 03:30] harshavardhana commented on #42
Fixed in 8.0.0, the liveness probe is removed.

[2020-10-19 03:30] #42 closed

[2020-10-19 12:01] abouissa1 commented on #41
Find attached. Thanks

[templates.zip](https://github.com/minio/charts/files/5401575/templates.zip)

[2020-10-20 12:33] WMP commented on #37
https://github.com/minio/charts/pull/43

[2020-10-21 08:42] madianas commented on #24
@harshavardhana there is an initContainer enabled by  `persistence.volumePermissions.enabled` setting for standalone mode, why can't there be for distributed mode?

[2020-10-21 11:34] omerfsen opened #44 "defaultBucket and tls"
When tls is enabled and if you create secrets for different hostname other than **minio.fullname**   {{ minio.fullname }}.make-bucket-job job fails to create buckets with

[code]

[2020-10-21 11:37] omerfsen commented on #44
I have tried to edit **templates/_helper_create_bucket.txt** and it worked. Job ran successfully.

My solution:

Was:
[code]

Modified version:

[code]

This also fixes where CA is 3rd party and this issue (SSL hostname mismatch)

[2020-10-21 16:03] chris-sanders opened #46 "Chart 7.2.2 has invalid schema values"
Introduced in the 7.2.2 chart as a change to the schema and the values are invalid, they need to be capitalized. This was fine in 7.2.1, just needs a rename for 7.2.2 and a new release.

Deployment.apps "minio" is invalid: spec.template.spec.containers[0].livenessProbe.httpGet.scheme: Unsupported value: "http": supported values: "HTTP", "HTTPS"

[2020-10-21 16:08] harshavardhana commented on #46
Upgrade to 8.0.0 we removed Liveness checks.

[2020-10-21 16:08] #46 closed

[2020-10-22 15:36] harshavardhana commented on #37
Fixed by #52

[2020-10-22 15:36] #37 closed

[2020-10-23 09:32] abouissa1 commented on #41
Hi - could i please get an update on this?

[2020-10-23 09:37] harshavardhana commented on #41
You need to send a pull request, attaching zip files I can't do anything with it.

[2020-10-26 15:46] abouissa1 commented on #41
@harshavardhana - could I get a review on: https://github.com/minio/charts/pull/53

[2020-10-27 22:05] deshetti opened #54 "Persistence.Enabled is not considered for Standalone mode"
I am installing the minio helm chart v8.0.0. I notice that the `persistence.enabled: true` is only being considered for `mode: distributed`. When setting `mode: standalone`, the PVC is being deleted when the chart is uninstalled. Is this the expected behavior?

We have an application that we are using minio for, where I would like to run minio only on standalone mode since it is not very heavy in

[2020-11-04 14:37] SebiBurchi opened #57 "Unable to download files from outside the Kubernetes cluster because of the shared URL."
I am trying to set up MinIO in kubernetes cluster behind nginx ingress controller and access shared files through ingress path.
My configuration from **values.yaml**:
[code]

**### WEB BROWSER CLIENT**
Uploading a file works properly. I access the MinIO through ingress using` https://{CLUSTER_IP}:{PORT}/minio`

**### THE PROBLEM**
The problem is when I am trying to download the file uploaded befor

[2020-11-05 06:00] appunni-dishq opened #58 "Option to add selector in serviceMonitor"
We have a federated setup for Prometheus, I am trying to setup selector for my service Monitor Minio seems to not support it

[2020-11-06 18:54] jamie-34254 opened #59 "Support for KMS"
When using a KMS you might want to set KMSVaultCAPath to a filepath to a secret, but this chart doesn't currently allow you to mount a custom secret for Vault's TLS CA

[2020-11-06 19:03] harshavardhana commented on #59
You should use minio/operator @jamie-34254 - charts are in code freeze and not taking anymore feature requests.

[2020-11-06 19:03] #59 closed

[2020-11-06 19:04] jamie-34254 commented on #59
thanks!

[2020-11-09 00:07] alpozcan opened #61 "MinIO Helm Chart versions 8.0.1 & 8.0.2 have the apiVersion in StatefulSet missing"
Hi,
The following error is observed from `kubeval` during manifest validation:

[code]

Seems to have been introduced with https://github.com/minio/charts/pull/49.

Issue does not exist with chart version `8.0.0`.

kubeval version: 0.15.0, validation done against Kubernetes spec 1.15.7.

[2020-11-09 00:15] alpozcan commented on #61
I did a quick-and-dirty fix here using `|default` [in this PR](https://github.com/minio/charts/pull/60), but have since realised that the proper fix would have to be done in `_helpers.tpl`, and unfortunately do not have the time implement it there myself at the moment.

[2020-11-09 03:25] alpozcan commented on #61
Please note that the chart is rendered through `helm template`, rather than installing it directly. It might be related to the fact that the Kubernetes version information isn't available during render time.

[2020-11-09 20:28] Sleepy-GH opened #62 "Option to add config containers"
I'm trying to find a way to run the mc client to configure some Minio with the chart, but I haven't found a good way of doing this yet.

For me specifically it's all about running configuration to hook Minio up to Keycloak a la: https://github.com/minio/minio/blob/8e8ddf7233eddb2c156a4e0f28f13d08083cc736/docs/sts/keycloak.md
but I'm sure there's more use cases to run configuration after server sta

[2020-11-10 19:20] chris-sanders commented on #61
I noticed this today as well. This causes deployments via argocd to fail to process. Pinning to 8.0.0 fixes the issue.

[2020-11-10 20:09] harshavardhana commented on #61
The issue was actually introduced in this PR

[code]

[2020-11-10 20:17] harshavardhana commented on #61
Just updated 8.0.3 can you check if fixes the problem? @alpozcan @chris-sanders

[2020-11-10 20:51] deshetti commented on #61
@harshavardhana Does this issue have to do with the same resolution as well? https://github.com/minio/charts/issues/54

I used the 8.0.3 version to install the chart in standalone mode and it doesn't create a statefulset. It does for distributed mode.

[2020-11-10 20:57] harshavardhana commented on #61
Statefulset is only when you are running distributed mode @deshetti that has never changed.

[2020-11-10 21:16] chris-sanders commented on #61
I've just updated to 8.0.3 and it's deploying fine for me now.

[2020-11-10 21:31] deshetti commented on #54
@harshavardhana does it mean that `standalone` by design doesn't care if `persistence.enabled: true` based on your comment https://github.com/minio/charts/issues/61#issuecomment-724961829

[2020-11-10 22:34] harshavardhana commented on #54
yes it doesn't @deshetti

[2020-11-10 22:34] #61 closed

[2020-11-10 22:49] deshetti commented on #54
@harshavardhana thanks.

[2020-11-10 22:49] #54 closed

[2020-11-10 23:40] JackTiber opened #63 "Missing environment variable for S3 Gateway"
Ran into an issue when deploying the latest version of the chart to a K8S cluster using S3 as it's storage backend.

We had deployed the S3 Gateway to our staging environment around a month ago and everything worked as expected. When moving over to the production environment, we ran into an XML error while logging into the GUI and from programmatic calls in .Net Core. The generated Minio access an

[2020-11-12 05:07] alpozcan commented on #61
Thanks @ harshavardhana, I can also confirm that the issue is fixed in 8.0.3.

[2020-11-16 16:29] ahackettboyle commented on #63
hey, we are also having this issue. is there an eta on getting a fix.

looking through the code, seems to be an erroneous 'and' on this line: https://github.com/minio/charts/blob/32090f4d0014bab621a808bdb763fdec56ee8f40/minio/templates/deployment.yaml#L162

[2020-11-16 18:27] cts-zeero opened #64 "StatefulSet version issue"
I am unable to deploy into a 1.16.X cluster due to this api version regression rollback.
https://github.com/minio/charts/commit/32090f4d0014bab621a808bdb763fdec56ee8f40#diff-f58a5a53cbc35bc7f8a9740b0b3579428e3638092a2f222fdb25c18bae5de4f2

I am getting this error:

`Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "StatefulSet" in version

[2020-11-16 18:30] harshavardhana commented on #64
That PR is needed because of other issues @cts-zeero - can you dump what your `helm template` actually prints?

[2020-11-17 03:18] #63 closed

[2020-11-17 09:08] hetianyi opened #66 "can't evaluate field Version in type *version.Info"
Kubernetes version: v1.18.6
Helm version: v2.16.10

[code]
Got error:
[code]

[2020-11-17 09:08] hetianyi commented on #66
Shoud I use helm 3?

[2020-11-17 17:18] harshavardhana commented on #66
Yes

[2020-11-17 17:18] #66 closed

[2020-11-20 09:35] AljoschaP opened #67 "Add resource.requests and resource.limits"
Hello everybody,

is there any reason why cpu/memory requests and limits can't be set ?

[code]
Thank you :-)

[2020-11-20 09:43] AljoschaP commented on #67
It seems that it is supported but not documented. Is this correct ?

[2020-11-22 20:13] lsowen commented on #41
@harshavardhana I'm also running into this same issue.   Is the PR from @abouissa1 acceptable?  If not, I can work on getting an updated PR this week.

[2020-11-25 12:09] ryandawsonuk opened #68 "numeric passwords not working"
A numeric password can be set for the chart. It's a little awkward with helm set as it doesn't want a number in a string field but there is a [workaround for it](https://github.com/helm/helm/issues/1707#issuecomment-270622900). This looks like:
[code]
But if I do that then I run into a different problem
[code]
To use b64enc the value needs to be a string.

From experimenting, there is a way to han

[2020-11-25 18:23] #68 closed

[2020-11-26 06:52] kay07 opened #71 "helm install minio"
when I install minio with helm ,I got an error :
`running "VolumeBinding" filter plugin for pod "minio-67844cdddb-wkcnb": pod has unbound immediate PersistentVolumeClaims`
the cmd is ：
`helm install minio minio/minio`
I have created the StorageClass for minio,but the error is always here.
I hope you can help me and give me an example .
thanks.
thanks.
thanks.
thanks.
thanks.

[2020-11-26 09:22] #71 closed

[2020-11-26 09:26] kay07 commented on #71
I resolved it .
First: create a pv.yaml
`apiVersion: v1
kind: PersistentVolume
metadata:
  name: minio-pv
spec:
  accessModes:
    - ReadWriteOnce
  capacity:
    storage: 20Gi
  persistentVolumeReclaimPolicy: Retain
  storageClassName: minio
  nfs:#this is the nfs url,change to yours.
    path: /public/minio
    server: 192.168.0.170`
Second: create value.yaml(used to change the default value)
`n

[2020-11-26 16:00] aeimer opened #72 "FR => minio-ha-make-bucket-job fails (on purpose?)"
I updated from version `8.0.3` to version `8.0.5` and also added a:

[code]

Which fails with a

![grafik](https://user-images.githubusercontent.com/25035182/100371477-1a0f1600-3008-11eb-9a6d-bee0fe4b5b28.png)

I would like to have some defaults set or have the bash script handle that better.

It would be great to either provide only a list of strings (as names) or provide objects in the array but

[2020-11-27 10:28] patvdleer opened #73 "simple distributed setup example"
Forgive my noobishness, Im new to Minio, when setting up a simple setup in KinD Im unable to get it up and running

[code]
results in:

[code]

Im trying to run this on a KinD setup:
[code]

[2020-11-29 08:20] nengbai opened #76 "Waiting for all MinIO sub-systems to be initialized.. possible cause (Unable to encrypt config Storage resources are insufficient for the read operation.)"
Today I deployment minio-8.0.5 with mode=distributed on Glusterfs storage, still error :Waiting for all MinIO sub-systems to be initialized.. possible cause (Unable to encrypt config Storage resources are insufficient for the read operation.)
1. First to helm install
helm install --namespace clpsbase --set mode=distributed --set persistence.size=5Gi --generate-name minio/minio
2. check pod status

[2020-11-29 08:24] harshavardhana commented on #76
GlusterFS does not support O_DIRECT by default please use real persistent disks with MinIO not another NAS

[2020-11-29 08:24] #76 closed

[2020-11-29 08:36] nengbai commented on #76
Thanks you fallback so quickly. Could I use local storage to deploy distributed  minio ?  like as below
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: export-minio-0
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 30Gi
  claimRef:
    apiVersion: v1
    kind: PersistentVolumeClaim
    name: export-minio-0
    namespace: clpsbase
  local:
    path: /miniodata/pvc-minio

[2020-11-29 10:06] nengbai commented on #76
I have 9 nodes with 3 master and 6 work nodes, the master nodes with taints . I try deploy minion with mode distrution , still got error: Warning  FailedScheduling  <unknown>  default-scheduler  0/9 nodes are available: 3 node(s) had taints that the pod didn't tolerate, 6 node(s) had volume node affinity conflict. How to fix minio on  local-stoarage node ?

1. create pv and pvc with local-stoarage

[2020-12-02 11:04] omerfsen opened #77 "Additional buckets are not created"
When we deploy the helm chart

[code]

Additional buckets are not created (above examples plx-storage and tmp-bucket) but  defaultBucket is created

[2020-12-02 11:05] omerfsen commented on #77
I used latest 8.0.5 version  (And 8.0.0) of chart.

[2020-12-02 17:09] filipmacek commented on #41
Also looking into this. This could be cool feature

[2020-12-03 09:27] omerfsen commented on #77
I also commented out defaultBucket and added buckets name to buckets list  and only first bucket is created (**test** bucket  in following case)

[code]

[2020-12-03 14:04] omerfsen commented on #77
I have solved this with following at **templates/_helper_create_bucket.txt** will do some additional tests and if works will send a PR

[code]

[2020-12-04 08:13] dp-42 commented on #67
In fact this is supported, you can add whatever you want into in the `resources` config part and it will be simply taken over to the statefulset/deployment `resources`.

However, as the documentation only list `resources.requests.memory` I agree that this is misleading.

[2020-12-04 08:26] dp-42 opened #78 "Missing comments in shipped Helm Chart"
Hello,

as the Helm chart best practices highly encourages, you have commented your values file accordingly, so that users are guided through the configuration options. That is great!
See here: https://github.com/minio/charts/blob/master/minio/values.yaml

However, there seems to be an issue with released charts as they do not ship any comments.
As an example, just look into the latest chart relea

[2020-12-04 23:02] harshavardhana commented on #78
helm packaging removes all the comments always and no way to preserve them, this is why we comment them for documentation purposes.

[2020-12-04 23:02] #78 closed

[2020-12-04 23:03] harshavardhana commented on #64
Closing as stale issue.

[2020-12-04 23:03] #64 closed

[2020-12-04 23:04] harshavardhana commented on #10
Published containers are now mult-arch for MinIO https://hub.docker.com/r/minio/minio

[2020-12-04 23:04] #10 closed

[2020-12-07 09:25] theggs opened #79 "release namespace missing for getting key and secret in NOTES"
step to reproduce:
1. install minio
[code]

2. get NOTES
[code]

The cli command
[code]
should be
[code]
namespace need to be include.

[2020-12-07 09:29] theggs commented on #79
version info:
[code]

[2020-12-07 11:05] shaneutt commented on #10
Awesome, thank you!

[2020-12-07 13:52] patvdleer opened #81 "Can't deploy on Kubernetes version 1.16"
Error during deployment on Kubernetes version 1.16

`Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta2"`

Please see https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2020-12-07 14:08] patvdleer commented on #81
somehow it does work on `1.19`

this works (KinD 0.9)
[code]

Azure cluster doesn't
[code]

[2020-12-07 14:19] patvdleer commented on #73
Seems due to some caching issue minio/minio was not deployed but bitnami/minio, minio/minio does work.

[2020-12-07 14:19] #73 closed

[2020-12-07 14:43] patvdleer commented on #81
in _helpers.tpl`

[code]

`{{- if semverCompare "<1.17-0" .Capabilities.KubeVersion.Version -}}`

shoudl be < 16, not 17

[2020-12-07 20:40] #81 closed

[2020-12-09 09:16] dp-42 commented on #78
Hi @harshavardhana

thank you for the fast reply.

Helm package does not remove comments! There was an issue in Helm a year ago that caused the deletion of the comments (see https://github.com/helm/helm/issues/6951). This problem was solved a long time ago...

When I package the Chart myself, the comments are preserved:
[code]

Please ensure that you use a somewhat recent version of the `helm` bin

[2020-12-11 08:06] dp-42 commented on #78
/reopen

[2020-12-11 15:47] DanielJonesEB opened #83 "Versioning not supported on latest Helm chart/Docker image"
For some reason I'm not able to enable versioning on a bucket, despite using the latest version of the Helm chart - 8.0.7, which uses the image `minio/minio:RELEASE.2020-12-03T05-49-24Z`.

It was my understanding that versioning had been added as a feature a long time ago? However, when I try enabling versioning on a bucket, I get the following:

[code]

I'm using version `RELEASE.2020-11-17T00-39

[2020-12-11 16:32] harshavardhana commented on #83
Versioning is not supported if you are deploying a single drive mode. You need to use erasure coding. https://github.com/minio/minio/tree/master/docs/bucket/versioning#concepts

[2020-12-11 16:32] #83 closed

[2020-12-12 14:10] kfirfer opened #84 "readiness missing"
Hello

in the chart release 8+ I could see that readiness is missing

In my opinion it is necessery when working with distributed mode and kubernetes services + ingresses

when a node is ungracefully down, the traffic from outside are miss behaves

What do you think ?

[2020-12-12 16:28] harshavardhana commented on #84
It's on purpose readiness is actually not worth use you may use liveness.

MinIO implements necessary semantics to reroute your request if system is not ready.

[2020-12-12 16:28] #84 closed

[2020-12-12 17:04] kfirfer commented on #84
Unfortunately it is not whats happening
Tested with chart version 8.0.8

[2020-12-12 17:15] kfirfer commented on #84
When the minio web server itself is not ready yet to accept  traffic, the kubernetes service hits and return error

[2020-12-12 17:40] harshavardhana commented on #84
Of course it won't if the service is not ready there is no point even having readiness. Readiness doesn't do anything other than interfere with our startup sequence.

It is never useful.

[2020-12-12 17:47] kfirfer commented on #84
It is not entirely correct,
You need readiness to check with a healthcheck script if MinIO webserver is up/down
In order to avoid hits a down webserver

[2020-12-12 17:50] kfirfer commented on #84
Kubernetes readiness does not meant to interfere, it is meant to solve this type of problems

[2020-12-12 18:00] kfirfer commented on #84
Example cluster setup, traffic flow from the client to the MinIO data file itself:

GET /data (browser) ->
 Linux machine NIC ->
 MetalLB (Load balancer) ->
 NginX controller Ingress (Proxy & Loadbalancer) ->
 K8S service(endpoint) (Proxy & Loadbalancer) ->
 MinIO webserver ->
 MinIO data files

For maximum high availability, need to have load balance any step above with readiness mechanism each o

[2020-12-12 18:05] kfirfer commented on #84
Its not good advice to have liveness on stateful applications, it can lead to Split brain scenarios / data corruption

[2020-12-12 19:57] harshavardhana commented on #84
Not really @kfirfer MinIO handles split brain situations - none of these features in k8s make sense for us. So you can turn all of them off and you will be fine.

[2020-12-12 20:04] kfirfer commented on #84
I wish I could say the same, but no matter what I do, Im keep getting miss behaves situations , I traced the logs and nothing helped me out... I could give you control on my Kubernetes cluster and you would see it if you want to

Meanwhile, I have a custom chart that I written , I want to use the mainstream Chart, but at this moment I cant...

[2020-12-12 22:11] kfirfer commented on #84
I tried at this very moment tests about how MinIO handles ungracefully shutdown of one nodes

Having 3 kubernetes nodes, setup with chart 8.0.8 and this is the overiden values:

[code]

And the MinIO browser shows this 1/3 of the times :

![Selection_005](https://user-images.githubusercontent.com/7741545/101996034-988dd800-3cd7-11eb-9f95-0ccd91ee7093.jpg)

Tooks around 2-4 minutes to come back nor

[2020-12-12 22:49] kfirfer commented on #84
Now I have tested what happens when I shutdown 1 node and keeps it down

I hard refresh the webbrowser, half of the times I see half of the files

![Selection_006](https://user-images.githubusercontent.com/7741545/101996647-db9e7a00-3cdc-11eb-9b39-deb29ce46d21.jpg)

![Selection_007](https://user-images.githubusercontent.com/7741545/101996691-de996a80-3cdc-11eb-87dc-a5d18bcd1d02.jpg)

[2020-12-14 09:27] dp-42 opened #85 "Missing comments in shipped Helm Chart"
Hello,

this is an addition to https://github.com/minio/charts/issues/78 - unfortunately I cannot reopen this one.

There seems to be an issue with released charts as they do not ship any comments.
As an example, just look into the latest chart release: https://github.com/minio/charts/blob/master/releases/minio-8.0.5.tgz
It seems there is an issue with the packaging process so that all comments ge

[2020-12-14 09:50] LawrencezZZZ opened #86 "deploy fail with helm chart, error message: ERROR Invalid argument: unable to guess port from scheme"
I deploy minIO with helm chart, and fail with log  `ERROR Invalid argument: unable to guess port from scheme`

MinIO image: RELEASE.2020-10-18T21-54-12Z

And, there is my deployment:
[code]

[2020-12-14 11:48] abouissa1 commented on #41
@harshavardhana - could we get an update on this?

[2020-12-14 19:12] harshavardhana commented on #85
Fixed in a0910ea678c8797dd865165521cd015c078fae83

[2020-12-14 19:12] #85 closed

[2020-12-15 03:21] LawrencezZZZ commented on #86
I made a mistake, china azure endpoint lost `https://`

[2020-12-15 03:21] #86 closed

[2020-12-15 10:06] ValeriiVozniuk opened #88 "Long Minio pod start with volume with many files on it"
Hi,

I've faced an issue with Minio pod being in ContainerCreating state for 30+ minutes after resizing the pvc for it. 120 GB volume was full, and I've added additional 30GB to it. Upon checking the kubelet log I saw a lot of following messages
```Dec 15 09:30:53 server47 docker[29162]: W1215 09:30:53.996821   30951 volume_linux.go:49] Setting volume ownership for /var/lib/kubelet/pods/a6e52d23-5

[2020-12-15 11:16] desaintmartin commented on #1
Would a PR be accepted for such a feature (also for other buckets)?

[2020-12-15 14:14] eminden opened #90 "overriding environment generates warnings"
I am getting the following warning lines when overriding the environments like below,

coalesce.go:160: warning: skipped value for environment: Not a table.
coalesce.go:199: warning: destination for environment is a table. Ignoring non-table value <nil>
coalesce.go:160: warning: skipped value for environment: Not a table.

[code]

I having tried but solution of adding parenthesis to at the end of

[2020-12-16 03:42] vaporpin opened #91 "ERROR Unable to initialize gateway backend: dialing: google: error getting credentials using GOOGLE_APPLICATION_CREDENTIALS environment variable: invalid character 'a' looking for beginning of value"
I got the following error below using the helm chart for GCS.

ERROR Unable to initialize gateway backend: dialing: google: error getting credentials using GOOGLE_APPLICATION_CREDENTIALS environment variable: invalid character 'a' looking for beginning of value

values set for using it as a gcsgateway:

gcsgateway.enabled: true
gcsgateway.gcsKeyJson: credentials.json
gcsgateway.projectId: projecti

[2020-12-16 11:01] vaporpin commented on #91
Realise that changing the mode to distributed will solve the issue.

mode: distributed

[2020-12-18 04:42] harshavardhana commented on #88
This is k8s CSI doing things automatically we do not do this ourselves and this chart or MinIO not responsible for this.

[2020-12-18 04:42] #88 closed

[2020-12-18 19:52] mkhpalm opened #92 "Duplicate metrics in mode=distributed"
The minio chart deploys 2 services when `mode=distributed`:

* https://github.com/minio/charts/blob/8.0.8/minio/templates/service.yaml
* https://github.com/minio/charts/blob/8.0.8/minio/templates/statefulset.yaml#L16-L34

The ServiceMonitor will metch both here (app and release labels):
* https://github.com/minio/charts/blob/8.0.8/minio/templates/servicemonitor.yaml#L37-L40

It results in duplicat

[2020-12-21 15:46] deshetti commented on #92
@mkhpalm I was about to report this issue and found this. Thanks.

Just to add. Here are screenshots from my Grafana dashboard which is supposed to show only 4 servers, instead it shows 8 from duplicate services.

![Minio - Dashboard 1](https://user-images.githubusercontent.com/10763210/102794482-1190cd80-4371-11eb-9c8d-8e9d039e79c1.png)

![Minio - Dashboard 2 - Explore Disks](https://user-images.

[2020-12-21 17:38] mkhpalm commented on #92
I believe the reason its needed with `minio=distributed` is for `publishNotReadyAddresses: true` so minio nodes can find each other on creation/startup/recovery etc:

https://github.com/minio/charts/blob/8.0.8/minio/templates/statefulset.yaml#L26

Which is not part of the main service:

https://github.com/minio/charts/blob/8.0.8/minio/templates/service.yaml

I don't know much about this chart but

[2020-12-22 20:04] mkhpalm opened #93 "New etcd configuration is only applied to mode=standalone / deployment"
A commit https://github.com/minio/charts/commit/cab542093ede993908ff4b0c9f385fc79c1c84b8 was made that added for etcd client tls support for minio federation.

These changes were made to the [deployment.yaml](https://github.com/minio/charts/blob/8.0.8/minio/templates/deployment.yaml) for `mode=standalone` but not [statefulset.yaml](https://github.com/minio/charts/blob/8.0.8/minio/templates/statefu

[2021-01-02 12:55] haswalt commented on #41
@abouissa1 I've created a PR that supprots caching as it's own configuration here: https://github.com/minio/charts/pull/95

This way no impact is made on existing configurations with potential side effects. It currently doesn't use a PVC as that seems extra complexity when really the cache should be temporary anyway. I can add support for using PVC pretty easily though.

[2021-01-08 20:19] IrvingMg opened #96 "Permissions issue deploying MinIO on Kubernetes"
Hello everyone,

I'm having an issue deploying the MinIO chart on Kubernetes. I'm trying to deploy MinIO on distributed mode using Persistent Volumes with hostPath.

In order to make the deployment, first I created the `Persistent Volumes`using `hostPath` to the `/tmp` directory. Below is the yaml file:

[code]

then, I'm creating the `Persistent Volume Claims` using the following file:

[code]

a

[2021-01-11 22:15] Rgconner opened #97 "Issue with hostname when building cluster Minio"
I am getting messages like:

"log":"Error: lookup minio-1610402456-0.minio-1610402456-svc.minio.svc.cluster.localminio on 10.96.0.10:53: read udp 10.244.4.116:45907-\u003e10.96.0.10:53: i/o timeout (*net.DNSError)\n","stream":"stdout","time":"2021-01-11T22:09:47.507321381Z"}

.minio.svc.cluster.**localminio**

Seems odd. Shouldn't this be just local and not localminio?

Checking the DNS with dig:

[2021-01-11 22:16] Rgconner commented on #97
Going to try and deploy without a namespace... I suspect it is picking up the namespace.

[2021-01-11 22:21] Rgconner commented on #97
Nope:
Error: lookup minio-1610403488-2.minio-1610403488-svc.default.svc.cluster.localminio on 10.96.0.10:53: read udp 10.244.4.117:49048-\u003e10.96.0.10:53: i/o timeout (*net.DNSError)\n","stream":"stdout","time":"2021-01-11T22:20:18.313454089Z"}

Maybe specify it in the deployment? There is a space for custom DNS, I could just put the default in there.

[2021-01-12 23:50] Rgconner commented on #97
Further investigation: I believe it is caused by using the mountpath AND bucketRoot options. Have not fully tested by using something other than "minio" but if I do
mountPath: "/data"
bucketRoot: "minio"

then I get <node>.cluster.localminio as the node name lookup.

I may go back to double check if something other than "minio" is the cause, if I am right whatever I put in bucketRoot should show u

[2021-01-13 11:52] ArtemAlagizov commented on #96
it seems to be an issue with permissions (for **/export** folder inside the minio container).

there is a pull request that aims at fixing it => https://github.com/minio/charts/pull/70

meanwhile, you can disable securityContext (not recommended for production, of course)
[code]

maybe, somebody here can recommend a better approach, let's see

[2021-01-13 18:56] IrvingMg commented on #96
Hi @ArtemAlagizov thank you for replying! I updated my PVs to use local provisioner and that error has gone but now I have new one. Here is the new error:
[code]

My PVs are like this:
[code]
I found a similar issue [10519](https://github.com/minio/minio/issues/10519#issue-704820288) and as I understand, I need to mount a second volume on one of the nodes to avoid using the root disk, right?. So I

[2021-01-15 04:08] gitlawr commented on #84
When we do a rolling update for 4 replicas MinIO, minio-1 will be terminated once minIO-0 is running. So there can be a short time period losing quorum: minio-1 is in ready state but not really functioning, minIO-1 is terminated.
If we can have some initialDelaySeconds for readiness probe it would help mitigate that.
It is not necessary to have a default readiness probe, but it would be nice if us

[2021-01-19 14:38] IrvingMg commented on #96
Finally I could deploy it by creating a `StatefulSet` without Helm charts.

[2021-01-19 14:38] #96 closed

[2021-01-22 15:07] jwhb opened #99 "OpenShift: Minio SCC takes precedence over anyuid SCC"
Installing the Minio Helm chart on OpenShift with `securityContext` and `persistence` set to enabled will install the "minio" SecurityContextConstraint which has a priority value of 10.
A priority level of 10 allows the SCC to take precedence of OpenShift's built-in SCC `anyuid`.
This is potentially harmful, because after installing the Helm Chart, newly created Pods unrelated to Minio may be affe

[2021-01-22 18:35] #99 closed

[2021-01-25 07:56] swartz-k opened #101 "Add Namespace with default cmd"
https://github.com/minio/charts/blob/efd25a79487804c7745c644e10a7b497b4018fe8/minio/templates/NOTES.txt#L17

Sometimes, user install self defination namespace. I think add `--namespace {{ .Release.Namespace }} ` will be better.

[2021-01-30 19:59] eirisdg commented on #77
It works for me :)

[2021-02-01 09:41] mohandass-pat opened #103 "configure multiple AWS EFS to Minio in distributed Mode"
Hi,
I'm using AWS efs as a volume for Minio. Is it possible to attach multiple efs to Minio in distributed mode?
Kindly share any examples and docs related to that.

Thanks in advance

[2021-02-01 18:10] harshavardhana commented on #103
EFS volumes are not recommended with MinIO - you should use EBS or regular disks.

[2021-02-01 18:10] #103 closed

[2021-02-03 11:40] chromafunk opened #104 "Very high number of Goroutines and errors on NAS gateway mode"
So, this is a fresh deployment. Initially I thought it was because I was assigning not much resources to each pod, but after allocating 8Gb RAM to each, I still see this coming up. Is there any way, or guide I can read to debug this ? Is this a common problem ? Each pod is spwaned on a different worker node ( a total of four )

![screenshot-192 168 3 107_31345-2021 02 03-12_31_49](https://user-ima

[2021-02-03 16:36] jeubis commented on #66
It wouldn't hurt to put this in the documentation somewhere. This error is super odd and ambiguous.

[2021-02-17 14:18] fdlk commented on #59
This was actually already implemented in #20, I think.

[2021-02-18 16:34] aeimer commented on #41
I'd love to see this feature! The PVC option would be great! What do you think @harshavardhana ?

[2021-02-18 18:05] MrMichou opened #106 "Ingress error while deploying minio"
Hey there,
I'm working on a cluster kubernetes 1.20.2 :

`Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-13T13:28:09Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}
`

I'm trying to use Ingress, when I'm doing a helm install here is the output  :

`W0218 12:42:0

[2021-02-19 15:33] holmesb opened #107 "Anyone manage to enable keycloak authentication?"
Hi, would be great if someone who has successfully enabled keycloak oauth using this chart could share their values.  We've followed [this guide](https://github.com/minio/minio/blob/master/docs/sts/keycloak.md) and have set the following values:
[code]
But after redeploying the chart we don't see any "Log in with OpenID" on the home page.  In a shell session on the minio pod, I can see these env v

[2021-02-24 22:33] akshayuppal3 opened #109 "securing minio access key and secret key with Hashicorp vault"
I referred to this link https://gist.github.com/harshavardhana/427f6cffc068418278129f4e65cbf9cc to inject secrets via vault sidecar injection. But instead of using deployment file I am updating the values.yaml and deploying via helm.
So to export access key and secret key as environment variables we need to source the secrets and entrypoint script but for that, we need to issue a bash command simi

[2021-02-24 22:39] harshavardhana commented on #109
No more feature requests are allowed with this helm chart, please refer to our https://github.com/minio/operator

[2021-02-24 22:39] #109 closed

[2021-02-24 22:56] akshayuppal3 commented on #109
I guess I should have framed it better, I am not looking for a feature request .. it is more of a question. How can I inject minio secrets with vault side car injection? I am not asking for any feature. Appreciate your quick reply

[2021-02-24 22:57] akshayuppal3 opened #110 "No more feature requests are allowed with this helm chart, please refer to our https://github.com/minio/operator"
No more feature requests are allowed with this helm chart, please refer to our https://github.com/minio/operator

_Originally posted by @harshavardhana in https://github.com/minio/charts/issues/109#issuecomment-785432029_

[2021-02-24 22:57] #110 closed

[2021-02-24 22:59] akshayuppal3 opened #111 "minio access key and secret key with Hashicorp vault not working"
Before you close this issue, please have a look.  It is not a feature request it is an issue.

So to export access key and secret key as environment variables we need to source the secrets and entrypoint script but for that, we need to issue a bash command similar to https://gist.github.com/harshavardhana/427f6cffc068418278129f4e65cbf9cc#file-vault-secrets-minio-yaml-L48 but can we do the same wit

[2021-02-24 23:01] harshavardhana commented on #111
I don't know maybe - I don't have a setup to try.

[2021-02-24 23:06] akshayuppal3 commented on #111
Just to add more content I am using:
[code]

[2021-02-27 00:05] gopchandani opened #112 "An option to provide the "command" for the app container"
Just perused the deployment.yaml: https://github.com/minio/charts/blob/master/minio/templates/deployment.yaml

We have a requirement whereby we want to inject environment variables from Vault into the minio pods. The Vault sidecar (i.e. vault-agent), places the secrets on a shared volume inside the pod. The secrets are formatted as a bash script which needs to be executed before the main container

[2021-03-03 05:01] nodesocket commented on #66
This also bit me. Was searching for nearly an hour for an answer to:

[code]

What is the last version of this chart I can use with Helm v2?

[2021-03-11 10:27] wapiflapi opened #113 "Install instructions cause invalid YAML because of wrong github url."
The install instructions in the README use the wrong github url.

[code]

The last line should read `kubectl apply -f  https://raw.githubusercontent.com/minio/operator/master/examples/tenant.yaml`

[2021-03-23 09:56] jgato commented on #107
I am in the same situation, starting to integrate with Keycloak. Did you have any progress about this?

[2021-03-23 10:29] jgato commented on #107
Well, in my case, just adding:

[code]
seems to enable OpenID login:

![image](https://user-images.githubusercontent.com/3435696/112132469-f41b0c00-8bca-11eb-9156-f005d05de7fd.png)

then it redirects to Keycloak, make the login (login seems succesfull), but I have a 502 Bad Gateway :(

[2021-03-23 15:52] jgato commented on #107
More progress. The 502 gateway error was because a too big header received by the Nginx Ingress controller, preatty easy to solve, [explained here](https://stackoverflow.com/questions/58943111/nginx-ingress-returns-502-after-post-with-redirect)

I am using helm chart to deploy minio. I think this is my issue. Now, when the container/pod receives the requests, for some reason the WebLoginSTS is try

[2021-03-26 09:22] jgato commented on #107
no one can give us a tip? :(

[2021-04-01 16:15] djsly opened #114 "Deprecation of MinIO Chart without suitable replacement for MinIO Gateway"
What is the expectation from a user's point of view if that chart is used to deploy minIO as a gateway ?

The operator won't be supporting the gateway feature, so there won't be a way to deploy the gateway moving forward.

[2021-04-01 16:25] harshavardhana commented on #114
Yes even the gateway is getting removed from the server https://github.com/minio/minio/pull/11938 moving to https://github.com/minio/ming soon.

You are free to fork this project and use it on your own.

[2021-04-01 16:25] #114 closed

[2021-04-01 16:57] djsly commented on #114
so I'm guessing https://github.com/minio/ming will have its own chart ?

[2021-04-01 17:21] harshavardhana commented on #114
ming may have its own chart eventually @djsly